* {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    /* width: 1170px; */
    margin: 0 auto;
    padding: 0px 0px 0px 10px;
}

.header-navbar {
    width: 100%;
    background-color: #3b5d50;
}

.navbar-brand {
    width: 45%;
    font-weight: 700;
    font-size: 30px;
}

.navbar-toggler {
    width: 10%;
    margin: 0px 10px;
}

.navbar-toggler-icon {
    margin: 0px -15px;
}


.navbar-nav {
    width: 100%;
    justify-content: left;
}

.navbar-dark .navbar-nav .nav-item {
    width: 100%;
    font-size: 16px;
    text-align: center;
    display: block;
    position: relative;
}

.demo {
    text-align: center;
    display: block;
    width: 100px;
}

.demo::before {
    content: "";
    display: block;
    width: 0%;
    height: 5px;
    background-color: yellow;
    position: absolute;
    transition: all 0.1s ease-in-out;
    top: 40px;
    left: 25px;
    visibility: hidden;
}

.demo:hover::before {
    /* transform: scaleX(1); */
    visibility: visible;
    width: 50%;
}


.navbar-nav .second {
    margin: 0px;
    padding: 0px;
}

.custom-navbar {
    width: 20%;
    text-align: left;
}


.hero {
    background-color: #3b5d50;
}

.hero-img-wrap img {
    animation: slidein 3s infinite;
    position: relative;
}

@keyframes slidein {
    0% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.intro-expert {
    padding-top: 70px;
}

.intro-expert h1 {
    font-size: 40px;
    font-weight: 750;
    color: white;
}

.btn {
    width: 45%;
    border-radius: 40px;
}

/* product-section */
.product-section {
    padding: 7rem 0px 0px 0px;
}

.product-section-01 {
    position: relative;
    height: 450px;
    display: block;
    overflow: hidden;
}

.product-img {
    position: absolute;
    display: block;
    top: 0px;
}

.product-section-01 .product-img:hover {
    top: -20px;
    transition: all .3s ease-in-out;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.ram::before {
    content: "";
    width: 100%;
    height: 0%;
    background-color: #dce5e4;
    position: absolute;
    transition: all .3s ease-in-out;
    margin: 0 auto;
    z-index: -1;
    border-radius: 15px;
    opacity: 0.3;
    bottom: 0;
}

.ram:hover::before {
    height: 65%;
}

.plus-sembol {
    /* display: none; */
    visibility: hidden;
    width: 20%;
    background-color: black;
    color: white;
    font-size: 22px;
    padding: 13px 0px;
    border-radius: 50px;
    margin: 20px auto;
    transition: all 0.4s ease-in-out;
}

a:hover>.plus-sembol {
    visibility: visible;
}


.product-detail {
    padding-top: 300px;
    margin-top: 2rem;
    text-align: center;
}

.product-detail h3 {
    font-size: 18px;
    opacity: 0.6;
}

.product-detail strong {
    font-weight: 700;
    font-size: 20px;
}

.why-choose-section {
    width: 100%;
    padding: 100px 0px;
}

.feature {
    width: 100%;
}

.feature .icon {
    width: 25%;
    margin: 0 auto;
}

.feature h3 {
    font-size: 16px;
}

.feature p {
    font-size: 14px;
}

.img-box {
    position: relative;
    margin: 12px;
}

.why-choose-us-photo {
    border-radius: 20px;
}

.img-wrap:before {
    position: absolute;
    content: "";
    width: 270px;
    height: 250px;
    background-image: url(image/dots-yellow.svg);
    background-repeat: no-repeat;
    top: -70px;
    left: -60px;
    z-index: -1;
}

/* we help section start */
.why-we-help {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

.grid-1 {
    /* position: absolute; */
    z-index: 999;
    top: 10px;
    width: 65%;
    border-radius: 20px;
    grid-column: 1;
    margin: 0px;
}

.grid-2 {
    position: absolute;
    z-index: 1;
    top: 10px;
    width: 30%;
    margin-left: 65%;
    grid-column: 1;

}

.grid-2 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.grid-3 {
    position: absolute;
    z-index: 99;
    top: 283px;
    width: 50%;
    border-radius: 20px;
    margin-left: 45%;
    grid-column: 2;
}

.grid-3 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.we-help {
    padding-top: 40px;
}

.custom-list {
    flex-wrap: wrap;
}

.custom-list li {
    width: 100%;
    margin: 10px 0px;
}

/* popular-product */
.slider-section {
    padding-top: 50px;
}

.popular-product {
    padding-top: 50px;
}

.thumbnail {
    width: 40%;
    border-radius: 30px;
    background-color: rgba(59, 93, 80, .1);
    margin: 0px 20px;
    padding: 70px 50px;
    position: relative;
}

.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    scale: 1.3;
}

.thumbnail-detail {
    width: 50%;
}

.thumbnail-detail h3 {
    font-size: 17px;
    font-weight: 700;
}

.thumbnail-detail p {
    font-size: 13px;
}

.btn-info {
    width: 100%;
}

.btn-01 {
    width: 45%;
    font-size: 16px;
}

.auther-info {
    text-align: center;
}

.auther-pic {
    width: 6%;
}

.auther-pic img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

/* blog-section */
.blog-section {
    padding: 50px 0px 170px 0px;
}

.post-thumbnail img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.post-thumbnail img:hover {
    background-color: rgba(255, 255, 255, 0.9);

}

.post-content {
    margin-top: 20px;
    text-indent: 10px;
}

.post-content h3 {
    font-size: 16.5px;
}

.post-content h5 {
    font-size: 15px;
}

.post-content span {
    color: gray;
}


/* footer */
footer {
    position: relative;
}

.subscription-form {
    margin: 0;
    padding: 0;
}

.subscription-form .icon {
    margin: 0;
    padding: 0;
}

.name-txt {
    border-radius: 20px;
    padding: 10px 10px;
    border: 1px solid gray;
    margin: 0px 10px;
    text-indent: 10px;
}

.email-txt {
    border-radius: 20px;
    padding: 10px 10px;
    border: 1px solid gray;
    margin: 0px 10px;
    text-indent: 10px;
}

.send-btn {
    width: 25%;
    background-color: #3b5d50;
    border-radius: 20px;
    padding: 10px 10px;
    border: 0px;
    margin: 10px 10px;

}

.chair-block {
    display: block;
}

.chair-img {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    top: -150px;
}

.main-footer01 {
    margin-top: 150px;
}

.back-chain {
    padding-top: 50px;
}

ul>li {
    margin: 10px 0px;
}

.customoe-icon li {
    margin: 10px 10px;
    width: 50px;
    margin-left: 0px;
}


/* shop page */
.shop-title {
    text-align: center;
    animation: slideleft 1s ease-in-out both;
}

@keyframes slideleft {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }

}

.hero-img-wrap2 .box {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.322);
    backdrop-filter: 10px;
    border-radius: 30px;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: 100%;
    animation: slidup 1s both;
}

@keyframes slidup {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

#about-us-page {
    margin-top: 100px;
}

#our-services .feature {
    text-align: center;
}

/* blog-page */
.blog-section-blogpage {
    padding: 50px 0px 50px 0px;
}

#contact-detail {
    margin-top: 50px;
}

#contact-detail .box {
    width: 30%;
    /* height: 60%; */
    background-color: #3b5d50;
    margin: 10px;
    line-height: 60px;
    border-radius: 10px;
}

#contact-detail .indicaters {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.contact-form {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.form-group-01{
    display: flex;
}

.contact-form label {
    font-size: 14px;
    text-indent: 10px;
    margin: 10px 0px;
}

.contact-form input {
    border-radius: 10px;
    padding: 10px 0px;
    text-indent: 10px;
}

.contact-form textarea {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 0px;
    text-indent: 10px;
}

.contact-form .btn{
    width: 25%;
    margin: 10px 20px;
    padding: 10px 0px;
}