@media only screen and (max-width: 550px) {
    .navbar-brand {
        width: 70%;
        font-size: 20px;
    }

    .navbar-toggler {
        width: 10%;
        margin: 0px 10px;
    }

    .navbar-dark .navbar-toggler-icon {
        width: 100%;
        padding: 0px 10px;
    }

    .intro-expert {
        padding-top: 50px;
    }

    .intro-expert p {
        width: 100%;
        padding: 0px;
    }

    .product-section {
        text-align: center;
    }

    .product-section-01 {
        margin: 30px 0px;
    }

    .product-detail {
        padding-top: 400px;
        margin-top: 2rem;
        text-align: center;
    }

    .product-section-01 {
        height: 500px;
    }

    .ram:hover::before {
        height: 65%;
        width: 100%;
        right: 0px;
        left: 20px;
        bottom: -50px;
    }

    .plus-sembol {
        padding: 20px 0px;
    }

    .grid-3 {
        display: block;
        top: 143px;
        width: 45%;
        right: 0px;
    }

    .why-we-help {
        padding-bottom: 0px;
    }

    .why-choose-section {
        padding: 50px 0px;
        text-align: left;
    }

    .why-choose-section .why1,
    .why2 {
        text-align: center;
    }

    .feature {
        text-align: center;
    }

    .feature .icon {
        text-align: center;
        margin: 0 auto;
    }

    .chair-img {
        right: 0px;
        width: 60%;
        top: -130px;
    }
}

@media only screen and (min-width:551px) and (max-width:768px) {
    .grid-3 {
        margin: 10px 0px;
        top: 190px;
        width: 40%;
        right: 15px;
    }

    .product-detail {
        padding-top: 250px;
        margin-top: 2rem;
        text-align: center;
    }

    .product-section-01 {
        height: 400px;
    }

    .ram:hover::before {
        height: 65%;
        width: 100%;
        right: 0px;
        left: 0px;
        bottom: -2px;
    }

    .plus-sembol {
        margin-top: 35px;
        padding: 5px 10px;
    }

    .grid-3 {
        display: block;
        top: 220px;
        width: 40%;
        right: 20px;
    }

    .why-choose-section {
        padding: 50px 0px;
        text-align: left;
    }

    .why-choose-section .why1,
    .why2 {
        text-align: center;
    }

    .feature {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .chair-img {
        right: 0px;
        width: 50%;
        top: -210px;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
    .navbar-brand {
        font-weight: 700;
        font-size: 30px;
        width: 40%;
    }

    .navbar-dark .navbar-nav .nav-item {
        font-size: 14px;
        text-align: center;
    }

    .intro-expert {
        padding-top: 25px;
    }

    .intro-expert h1 {
        font-size: 43px;
    }

    .intro-expert p {
        width: 100%;
        padding: 0px;
        margin: 30px 0px;
    }

    .product-section-01 {
        height: 500px;
    }

    .product-detail {
        padding-top: 250px;
    }

    .ram:hover::before {
        height: 50%;
        width: 100%;
        right: 0px;
        left: 0px;
        bottom: 100px;
    }

    .plus-sembol {
        margin-top: 35px;
        padding: 5px 10px;
    }

    .grid-3 {
        display: block;
        top: 164px;
        width: 40%;
        right: 10px;
    }

    .chair-img {
        right: 0px;
        width: 40%;
        top: -170px;
    }

}

@media only screen and (min-width:1025px) {
    .product-section-01 {
        height: 600px;
    }

    .product-detail {
        padding-top: 350px;
    }

    .ram:hover::before {
        height: 50%;
        width: 100%;
        right: 0px;
        left: 0px;
        bottom: 100px;
    }

    .plus-sembol {
        margin-top: 35px;
        padding: 12px 10px;
    }

    .grid-3 {
        display: block;
        top: 252px;
        width: 40%;
        right: 25px;
    }


}